In [5]:
import os

In [14]:
os.getcwd()

'd:\\Project\\Machine Learning Projects for Beginners\\Student Perfromance Prediction'

In [13]:
os.chdir("../")

In [15]:
import pandas as pd

In [17]:
df = pd.read_csv("artifacts/train.csv")

In [18]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation,math_score,reading_score,writing_score
0,female,group D,master's degree,standard,none,62,70,75
1,female,group C,bachelor's degree,free/reduced,completed,66,83,83
2,female,group D,some college,free/reduced,none,79,89,86
3,male,group C,master's degree,free/reduced,none,61,67,66
4,male,group E,high school,standard,none,73,64,57

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       800 non-null    object
 1   race_ethnicity               800 non-null    object
 2   parental_level_of_education  800 non-null    object
 3   lunch                        800 non-null    object
 4   test_preparation             800 non-null    object
 5   math_score                   800 non-null    int64
 6   reading_score                800 non-null    int64
 7   writing_score                800 non-null    int64
dtypes: int64(3), object(5)
memory usage: 50.1+ KB

In [23]:
df.select_dtypes(include="O").columns.to_list()

['gender',
 'race_ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation']

In [41]:
num = df.select_dtypes(include="number").columns.to_list()

In [1]:
from src.utils import mysql_connection_establishment

input_data = {
    "gender": "female",
    "race_ethnicity": "group D",
    "parental_level_of_education": "master's degree",
    "lunch": "standard",
    "test_preparation": "none",
    "math_score": 62,
    "reading_score": 70,
    "writing_score": 75
}

cnx = mysql_connection_establishment(database_name="student")

if cnx.is_connected():
    cursor = cnx.cursor()
    add_data_query = (
        "INSERT INTO secondary_table "
        "(gender, race_ethnicity, parental_level_of_education, lunch, test_preparation, math_score, reading_score, writing_score) "
        "VALUES (%(gender)s, %(race_ethnicity)s, %(parental_level_of_education)s, %(lunch)s, %(test_preparation)s, %(math_score)s, %(reading_score)s, %(writing_score)s)"
    )

    cursor.execute(add_data_query, input_data)
    cnx.commit()
    cursor.close()
    cnx.close()

[2025-06-19 13:48:07,686] 15 utils.py - INFO - Loaded .env Variables
[2025-06-19 13:48:07,697] 27 utils.py - INFO - Conection Established Succefullly with MySQL