In [2]:
import os
from dotenv import load_dotenv, dotenv_values
load_dotenv()

True

In [11]:
print(os.getenv("MYSQL_USER"))

root

In [16]:
import mysql.connector

cnx = mysql.connector.connect(
    user = os.getenv("MYSQL_USER"),
    password = os.getenv("MYSQL_PASSWORD"),
    host="127.0.0.1",
    database = "student"
)

In [21]:
with cnx.cursor() as cursor:
    result = cursor.execute("SELECT * FROM performance LIMIT 5")
    rows = cursor.fetchall()
    print(rows)

[('female', 'group B', "bachelor's degree", 'standard', 'none', 72, 72, 74), ('female', 'group C', 'some college', 'standard', 'completed', 69, 90, 88), ('female', 'group B', "master's degree", 'standard', 'none', 90, 95, 93), ('male', 'group A', "associate's degree", 'free/reduced', 'none', 47, 57, 44), ('male', 'group C', 'some college', 'standard', 'none', 76, 78, 75)]

In [1]:
# Azure MySQL Flexible server connection checking
from src.utils import mysql_connection_establishment

In [2]:
cnx = mysql_connection_establishment(database_name='student')

[2025-06-26 13:37:34,669] 16 utils.py - INFO - Loaded .env Variables
[2025-06-26 13:37:36,383] 33 utils.py - INFO - Conection Established Succefullly with MySQL

In [7]:
if cnx.is_connected():
    print("Succesfully Connected...")
    cursor = cnx.cursor()
    cursor.execute("SELECT COUNT(*) FROM performance")
    result = cursor.fetchall()
    print(result[0])

Succesfully Connected...
(1000,)